dl.librarymodule em.property {
    
    background-image: url("icons/librarymodule.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.procedure em.property {
    
    background-image: url("icons/ProcedureIcon.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.externalprocedure em.property {
    
    background-image: url("icons/externalprocedure.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 3px;
}

dl.function em.property {
    
    background-image: url("icons/FunctionIcon.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.parameter em.property {
    
    background-image: url("icons/MEDeclPar.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.elementparameter em.property {
    
    background-image: url("icons/MEDeclElemPar.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.stringparameter em.property {
    
    background-image: url("icons/MEDeclStringPar.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.set em.property {
    
    background-image: url("icons/MEDeclSet.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.index em.property {
    
    background-image: url("icons/MEDeclIndex.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.variable em.property {
    
    background-image: url("icons/MEDeclVar.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.constraint em.property {
    
    background-image: url("icons/MEDeclCon.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.mathematicalprogram em.property {
    
    background-image: url("icons/MEDeclMP.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.file em.property {
    
    background-image: url("icons/MEDeclFile.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.handle em.property {
    
    background-image: url("icons/MEDeclHandle.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}