#version_control_panel {
   position: fixed;
   color: white;
   background-color: blue;
   border: 1px solid black;
   right: 0;
   padding: 10px 10px 10px 10px;
   text-align: center;
   bottom: 0;
   margin-top: -3.5em;
   margin: 30px;
   opacity: 0.6;
}

